.blue-caler{
  color:#2C77B8;
}

.centered-text{
  text-align: center;
}

.course-card{
  margin-top: 1.2em;
  margin-left: 0;
}

.left-padded{
  margin-left: 2em;
}

.white{
  background-color: white;
  .title{
    color:#FF8C35;
  }
  .content{

  }
}

.vertical-centered{
  padding-top: 1em;
}

#demo{
  position:fixed;
}

#main-content{
  padding-top:3%;
  padding-bottom:3%;
  width:100%;
}

