body{
	font-family: 'Oswald', sans-serif;
}

.navbar-fixed-top ul li{
	font-size: 17px;
}

.navbar-fixed-top ul .active{
	font-size: 19px;
	border-bottom: 4px solid orange;
}

.navbar-fixed-top ul .active .activeA{
	color: #3686B9;
}

#full-main{
  background-color: #EEEEEE;
  padding-top:5%;
  padding-bottom:5%;
  width:100%;
  border-bottom: 3px solid orange;
}

#carousel-text{
	border-top:4px solid orange;
}

#carousel-text span{
	font-size: 20px;
}

/*SERVICIOS*/
.section-header {
	.span3{
		color:#2C77B8;
		margin-right:0;
		margin-left: 0;
		padding: 5px;
	}

	.span4{
		color:#2C77B8;
		margin-right:0;
		margin-left: 0;
		padding: 5px;
	}
}

.service-titles .span4{
	color:#2C77B8;
	margin-right:0;
	margin-left: 0;
	padding: 5px;
}