extends layout

block custom-scripts
  script(src='http://yui.yahooapis.com/3.7.3/build/yui/yui-min.js')
  script(src='javascripts/own/calendar.js')
block custom-stylesheets
  link(href='/stylesheets/own/calendar.css', rel='stylesheet')
  link(href='/stylesheets/own/shame.css', rel='stylesheet')

block content
  #main-content
    .container     
      .container.centered-text
        .span12.service-titles
          .span4
            hr
          .span4
            h3
              img(src='/images/iconoCaler.png', alt="Logo").pull-left
              span Capacitaciones
              img(src='/images/iconoCaler.png', alt="Logo").pull-right
          .span4
            hr
      .span12.row-fluid
        .span8
          h2 lol
        .span4
          #demo.yui3-skin-sam.yui3-g
            .yui3-u
              #mycalendar
              selected
                | date:
                span#selecteddate

     
          


