extends layout

block custom-scripts  
  script(src='http://yui.yahooapis.com/3.10.3/build/yui/yui-min.js')
  script(src='javascripts/own/calendario.js')
block custom-stylesheets
  link(href='/stylesheets/own/shame.css', rel='stylesheet')
  link(href='/stylesheets/own/customCalendar.css', rel='stylesheet')

block content
<<<<<<< HEAD
    
  .container.text-center
    .span12.service-titles
      .span4
        hr
      .span4
        h2
          img(src='/images/iconoCaler.png', alt="Logo").pull-left
          span Capacitaciones
          img(src='/images/iconoCaler.png', alt="Logo").pull-right
      .span4
        hr

    .span12.columns-container
      .span4.pull-right
        #demo.yui3-skin-sam.yui3-g
          .yui3-u
            #mycalendar
            selected
              | date:
              span#selecteddate
                
      - var july = [{month: 'july', name: 'Formación de auditores internos', description: 'Formación de auditores internos, bajo la norma ISO 19011:2011 con enfoque en las normas ISO 15189:2007 e ISO/IEC 17025:2005.', summary: '#', date: '16 y 17'},{ name: 'Interpretación  de la norma NMX-EC-17025-IMNC-2006 / ISO 17025:2005', description: 'Interpretación  de la norma NMX-EC-17025-IMNC-2006 / ISO 17025:2005 para laboratorios de ensayo y calibración.', summary: '#', date: '18 y 19'},{ name: 'Validación de métodos y control de calidad', description: 'Validación de métodos y control de calidad para laboratorios de calibración y laboratorios de ensayo de pruebas mecánicas y físicas.', summary: '#', date: '23 y 24'}];
      - var august = [{month: 'august', name: '', description: '', summary: '#', date: ''}];
      
      each course in july
        .course
          include course-card
=======
  #main-content
    .container     
      .container.centered-text
        .span12.service-titles
          .span4
            hr
          .span4
            h3
              img(src='/images/iconoCaler.png', alt="Logo").pull-left
              span Capacitaciones
              img(src='/images/iconoCaler.png', alt="Logo").pull-right
          .span4
            hr
      .span12.row-fluid
        .span8
          .span12.well
            .white.span12.row-fluid
              .span8
                h4.title Curso #1 
                  span#selecteddate
                span.content Breve descripción del curso #1 Que esa bien padre y así. 
              .span4
                .span12.row-fluid
                  .span6.vertical-centered
                    a.btn.btn-primary(href='#') ¡Inscribirme!
                  .span6.vertical-centered
                    a.btn.btn-info.btn-primary(href='#') Leer más...
            hr

            .white.span12.row-fluid.n-card
              .span8
                h4.title Curso #2
                  span#selecteddate
                span.content Breve descripción del curso #2 Que esa bien padre y así. 
              .span4
                .span12.row-fluid
                  .span6.vertical-centered
                    a.btn.btn-primary(href='#') ¡Inscribirme!
                  .span6.vertical-centered
                    a.btn.btn-info.btn-primary(href='#') Leer más..

            hr
                                
            .white.span12.row-fluid.n-card
              .span8
                h4.title Curso #3 
                  span#selecteddate
                span.content Breve descripción del curso #3 Que esa bien padre y así. 
              .span4
                .span12.row-fluid
                  .span6.vertical-centered
                    a.btn.btn-primary(href='#') ¡Inscribirme!
                  .span6.vertical-centered
                    a.btn.btn-info.btn-primary(href='#') Leer más..

            hr
                                
            .white.span12.row-fluid.n-card
              .span8
                h4.title Curso #4 
                  span#selecteddate
                span.content Breve descripción del curso #4 Que esa bien padre y así. 
              .span4
                .span12.row-fluid
                  .span6.vertical-centered
                    a.btn.btn-primary(href='#') ¡Inscribirme!
                  .span6.vertical-centered
                    a.btn.btn-info.btn-primary(href='#') Leer más..

            hr
                                
            .white.span12.row-fluid.n-card
              .span8
                h4.title Curso #5 
                  span#selecteddate
                span.content Breve descripción del curso #5 Que esa bien padre y así. 
              .span4
                .span12.row-fluid
                  .span6.vertical-centered
                    a.btn.btn-primary(href='#') ¡Inscribirme!
                  .span6.vertical-centered
                    a.btn.btn-info.btn-primary(href='#') Leer más..

            hr
                                
            .white.span12.row-fluid.n-card
              .span8
                h4.title Curso #6 
                  span#selecteddate
                span.content Breve descripción del curso #6 Que esa bien padre y así. 
              .span4
                .span12.row-fluid
                  .span6.vertical-centered
                    a.btn.btn-primary(href='#') ¡Inscribirme!
                  .span6.vertical-centered
                    a.btn.btn-info.btn-primary(href='#') Leer más..





        .span4
          #demo.yui3-skin-sam.yui3-g
            .yui3-u
              #mycalendar
              selected
                | date:
                span#selecteddate

     
          


>>>>>>> 98b48779b748e9c65ef54ebf957b855479d1f298
