extends layout

block custom-scripts
  script(src='http://yui.yahooapis.com/3.7.3/build/yui/yui-min.js')
  script(src='javascripts/own/calendar.js')
block custom-stylesheets
  link(href='stylesheets/own/calendar.css')
  link(href='stylesheets/own/shame.css')

block content

  .container
    .span12.row-fluid
      h1.centered-text.page-title Calendario de actividades

      #demo.yui3-skin-sam.yui3-g
        #leftcolumn.yui3-u
            #mycalendar
          #rightcolumn.yui3-u
            #links(style='padding-left: 20px;')
              button#togglePrevMonth.yui3-button Toggle Previous Month's Dates
              br
              button#toggleNextMonth.yui3-button Toggle Next Month's Dates
              br
              selected
                | date:
                span#selecteddate


