extends layout

block custom-scripts
  script(src='http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js')
  script(src='http://yui.yahooapis.com/2.9.0/build/calendar/calendar-min.js')
  script(src='javascripts/own/calendar.js')
block custom-stylesheets
  link(href='/stylesheets/own/customCalendar.css', rel='stylesheet')
  link(href='/stylesheets/own/shame.css', rel='stylesheet')

block content
  #main-content
    .container     
      .container.centered-text
        .span12.service-titles
          .span4
            hr
          .span4
            h3
              img(src='/images/iconoCaler.png', alt="Logo").pull-left
              span Capacitaciones
              img(src='/images/iconoCaler.png', alt="Logo").pull-right
          .span4
            hr
      .container
        .span12.row-fluid
          .span8.well
            .span12.row-fluid
              .span12.n-card.white
                .span8
                  .span12
                    h3.title.left-padded curso #1
                    h4.content.left-padded contenido del curso #1 lol yolo swag 
                    h4.content.left-padded
                      span#selecteddate
                .span4.vertical-centered
                  .span12.row-fluid
                    .span6.vertical-centered
                      a.btn.btn-primary(href='#') ¡Inscribirme!
                    .span6.vertical-centered
                      a.btn.btn-info.btn-primary(href='#') Leer más...
          // The calendar MUST be here, so its position will be binded to the first element on left column.            
          .span4.yui-skin-sam
            .span12.the-calendar
              #myCalendar
        .span12.row-fluid
          .span8.well
            .span12.row-fluid
              .span12.n-card.white
                .span8
                  .span12
                    h3.title.left-padded curso #2
                    h4.content.left-padded contenido del curso #2 lol yolo swag 
                .span4.vertical-centered
                  .span12.row-fluid
                    .span6.vertical-centered
                      a.btn.btn-primary(href='#') ¡Inscribirme!
                    .span6.vertical-centered
                      a.btn.btn-info.btn-primary(href='#') Leer más...
        .span12.row-fluid
          .span8.well
            .span12.row-fluid
              .span12.n-card.white
                .span8
                  .span12
                    h3.title.left-padded curso #3
                    h4.content.left-padded contenido del curso #3 lol yolo swag 
                .span4.vertical-centered
                  .span12.row-fluid
                    .span6.vertical-centered
                      a.btn.btn-primary(href='#') ¡Inscribirme!
                    .span6.vertical-centered
                      a.btn.btn-info.btn-primary(href='#') Leer más...
        .span12.row-fluid
          .span8.well
            .span12.row-fluid
              .span12.n-card.white
                .span8
                  .span12
                    h3.title.left-padded curso #4
                    h4.content.left-padded contenido del curso #4 lol yolo swag 
                .span4.vertical-centered
                  .span12.row-fluid
                    .span6.vertical-centered
                      a.btn.btn-primary(href='#') ¡Inscribirme!
                    .span6.vertical-centered
                      a.btn.btn-info.btn-primary(href='#') Leer más...   
        .span12.row-fluid
          .span8.well
            .span12.row-fluid
              .span12.n-card.white
                .span8
                  .span12
                    h3.title.left-padded curso #5
                    h4.content.left-padded contenido del curso #5 lol yolo swag 
                .span4.vertical-centered
                  .span12.row-fluid
                    .span6.vertical-centered
                      a.btn.btn-primary(href='#') ¡Inscribirme!
                    .span6.vertical-centered
                      a.btn.btn-info.btn-primary(href='#') Leer más...                
    
          


