.white.span8.course-card(id= course.month)
  .span6
    h3.title= course.name 
      span#selecteddate
    span.content= course.description 
  .span2
    h4= course.date
    hr
    a.btn.btn-info.btn-primary.btn-block(href= course.summary) Ver temario
    hr
    a.btn.btn-warning.btn-block(href='/capacitaciones/inscripcion') ¡Inscribirme!