footer 
  .container
      .row-fluid
          .span12
            .span2(style='width: 15%;')
              ul.unstyled
                li.header
                  | Inicio
                  li
                    li About us
            .span2(style='width: 15%;')
              ul.unstyled
                li.header
                  | ¿Quiénes somos?
                  li
                    li Product for Mac
            .span2(style='width: 15%;')
              ul.unstyled
                li.header
                  | Servicios
                  li
                    li Web analytics
            .span2(style='width: 15%;')
              ul.unstyled
                li.header
                  | Capacitaciones
                  li
                    li Product Help
            .span2(style='width: 15%;')
              ul.unstyled
                li.header
                  | Contacto
                  li
                    li Training
        hr
      .row-fluid
        .span12
          .span8
            a(href='#') Terms of Service
            a(href='#') Privacy
            a(href='#') Security
          .span4
            p.muted.pull-right.header 2013 CALER
              sup ®
              |. Todos los derechos reservados