extends layout

block content

  .container.text-center
    .span12.service-titles
      .span4
        .hero-unit.course
          h2 Cursos
      .span4
        .hero-unit.advice
          h2 Asesorías
      .span4
        .hero-unit.audit
          h2 Auditorías

    .span12.service-titles
      .span4
        hr
      .span4
        h2
          img(src='/images/iconoCaler.png', alt="Logo").pull-left
          span Servicios
          img(src='/images/iconoCaler.png', alt="Logo").pull-right
      .span4
        hr

    .span12.text-left.service-text-container
      h1 ¿Qué le ofrece 
        b CALER
        ?
      br
      article En CALER
        sup ©
        |  ofrecemos consultoría especializada y personalizada en el desarrollo e implantación de los sistemas de gestión de la calidad, especialmente con el enfoque de acreditación o certificación, con el fin de demostrar que se cuenta con un sistema de gestión de la calidad documentado, implantado y en mejora continua.
      br
      article Consultoría específica para la implantación de sistemas de gestión de la calidad en laboratorios de ensayo, calibración, clínicos, laboratorios forenses así como bancos de sangre.
      br
      article Desarrollo de proyectos integrales de implantación de sistemas de gestión a realizar de acuerdo a sus necesidades y recursos en laboratorios de ensayo, calibración, clínicos, laboratorios forenses así como bancos de sangre.
    
    .span12.service-titles
      .span4
        hr
      .span4
        h2
          img(src='/images/iconoCaler.png', alt="Logo").pull-left
          span Cursos
          img(src='/images/iconoCaler.png', alt="Logo").pull-right
      .span4
        hr

    .span12.text-left.service-text-container
      br
      article En CALER
        sup ©
        |  ponemos a su disposición cursos de capacitación en las normas de acreditación de laboratorios ISO/IEC 17025:2005 e ISO 15189:2012, incluyendo los criterios de aplicación de las mismas, así como políticas respecto a temas de trazabilidad, incertidumbre y ensayos de aptitud.
      br
      article *Redactar informacion especifica de como funcionan los cursos*
      br
    include service-description

    .span12.service-titles
      .span4
        hr
      .span4
        h2
          img(src='/images/iconoCaler.png', alt="Logo").pull-left
          span Asesorías
          img(src='/images/iconoCaler.png', alt="Logo").pull-right
      .span4
        hr

    include service-description

    .span5.pull-right.service-element-container
      .service-element
          h2 ISO 9001:2008
        ul
          li.service-feature Esta norma especifica los requerimientos para un sistema de gestión de calidad dentro de una organización.
          li.service-feature Dicho sistema de gestión debe demostrar su capacidad y consistencia para proveer prodctos que interactúan directamente con el cliente cumpliendo requerimientos estatutarios y de regulación. 
          li.service-feature Por otro lado propone elevar la satisfacción del cliente a través de la implementación efectiva del mismo, incluye procesos para el mejoramiento contínuo de éste y también asegurar la conformidad del cliente bajo requerimientos estatutarios y de regulación.
          li.service-feature
            a.btn.btn-primary.btn-block.btn-plan-select(href='#') Ver más

    .span12.service-titles
      .span4
        hr
      .span4
        h2
          img(src='/images/iconoCaler.png', alt="Logo").pull-left
          span Auditorías
          img(src='/images/iconoCaler.png', alt="Logo").pull-right
      .span4
        hr

    .span12.text-left.service-text-container
      br
      article En CALER
        sup ©
        |  ofrecemos auditorías de diagnóstico para laboratorios que inician con la implantación de su sistema de gestión de la calidad.
      br
      article Auditorías internas (realizadas por externos) para laboratorios que ya cuentan con un sistema de gestión de la calidad implantado e incluso ya acreditado o certificado.
      br

    include service-description



block custom-scripts
  //for development. We use local scripts
  script(src='javascripts/angular/angular.min.js')
  script(src='javascripts/jquery/jquery.min.js')
  //- for production. We use cdn minified scripts.
      tab back twice to add them to the page and comment 
      or delete the local links
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
