extends layout

block content

  .container.text-center
    .span12.service-titles
      .span4
        .hero-unit 
          h2 Cursos
      .span4
        .hero-unit
          h2 Asesorías
      .span4
        .hero-unit
          h2 Auditorías

    .span12.service-titles
      .span4
        hr
      .span4
        h3
          img(src='/images/iconoCaler.png', alt="Logo").pull-left
          span Servicios
          img(src='/images/iconoCaler.png', alt="Logo").pull-right
      .span4
        hr

    .span12.text-left.service-text-container
      h1 ¿Qué le ofrece 
        b CALER
        ?
      br
      article En CALER
        sup ©
        |  ofrecemos consultoría especializada y personalizada en el desarrollo e implantación de los sistemas de gestión de la calidad, especialmente con el enfoque de acreditación o certificación, con el fin de demostrar que se cuenta con un sistema de gestión de la calidad documentado, implantado y en mejora continua.
      br
      article Consultoría específica para la implantación de sistemas de gestión de la calidad en laboratorios de ensayo, calibración, clínicos, laboratorios forenses así como bancos de sangre.
      br
      article Desarrollo de proyectos integrales de implantación de sistemas de gestión a realizar de acuerdo a sus necesidades y recursos en laboratorios de ensayo, calibración, clínicos, laboratorios forenses así como bancos de sangre.
    
    .span12.service-titles
      .span4
        hr
      .span4
        h3
          img(src='/images/iconoCaler.png', alt="Logo").pull-left
          span Cursos
          img(src='/images/iconoCaler.png', alt="Logo").pull-right
      .span4
        hr

    .span12.text-left.service-text-container
      br
      article En CALER
        sup ©
        |  ponemos a su disposición cursos de capacitación en las normas de acreditación de laboratorios ISO/IEC 17025:2005 e ISO 15189:2012, incluyendo los criterios de aplicación de las mismas, así como políticas respecto a temas de trazabilidad, incertidumbre y ensayos de aptitud.
      br
      article *Redactar informacion especifica de como funcionan los cursos*
      br
    include service-description

    .span12.service-titles
      .span4
        hr
      .span4
        h3
          img(src='/images/iconoCaler.png', alt="Logo").pull-left
          span Asesorías
          img(src='/images/iconoCaler.png', alt="Logo").pull-right
      .span4
        hr

    include service-description

    .span12.service-titles
      .span4
        hr
      .span4
        h3
          img(src='/images/iconoCaler.png', alt="Logo").pull-left
          span Auditorías
          img(src='/images/iconoCaler.png', alt="Logo").pull-right
      .span4
        hr

    include service-description



block custom-scripts
  //for development. We use local scripts
  script(src='javascripts/angular/angular.min.js')
  script(src='javascripts/jquery/jquery.min.js')
  //- for production. We use cdn minified scripts.
      tab back twice to add them to the page and comment 
      or delete the local links
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
