.span5.pull-left.service-element-container
  .service-element
      h2 ISO 17025
      span $8.99 / Month
    ul
      li.service-feature Descripción shalalalalal lalala alala al ala la la al al al alala la 
      li.service-feature 5TB Disk Space
      li.service-feature
        a.btn.btn-primary.btn-plan-select(href='#')
          i.icon-white.icon-ok
          | Select

.span5.pull-right.service-element-container
  .service-element
      h2 ISO 15189
      span $8.99 / Month
    ul
      li.service-feature 10 Users
      li.service-feature 5TB Disk Space
      li.service-feature
        a.btn.btn-primary.btn-plan-select(href='#')
          i.icon-white.icon-ok
          | Select